<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.jadisinteractive.hkaudio"
        version="0.7.0">

  <name>HKAudio</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/hkaudio.js" target="js/hkaudio.js"/>

  <js-module src="www/hkaudio.js" name="hkaudio">
    <clobbers target="hkaudio" />
  </js-module>

  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="HKAudio">
        <param name="ios-package" value="HKAudio" />
      </feature>
    </config-file>

    <header-file src="src/ios/HKAudio.h"/>
    <header-file src="src/ios/GlobalContraints.h" />
    <source-file src="src/ios/HKAudio.m"/>


   <source-file src="src/ios/HKWirelessHDSDK/lib/libHKWirelessHD.a" framework="true"/>
   <header-file src="src/ios/HKWirelessHDSDK/include/DeviceGroup.h"/>
   <header-file src="src/ios/HKWirelessHDSDK/include/DeviceInfo.h" />
   <header-file src="src/ios/HKWirelessHDSDK/include/HKWControlHandler.h" />
   <header-file src="src/ios/HKWirelessHDSDK/include/HKWDeviceEventHandlerSingleton.h"/>
   <header-file src="src/ios/HKWirelessHDSDK/include/HKWPlayerEventHandlerSingleton.h"/>
   <framework src="libbz2.dylib" />
   <framework src="libz.dylib" />
   <framework src="libstdc++.dylib" />

  </platform>

</plugin>
