<?xml version="1.0" encoding="UTF-8"?>
<!-- TODO comments, header -->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.brainrainsolutions.cordova.plugins.harmankardoncordovaplugin" version="0.0.1">
	<name>Harman Kardon Cordova Plugin</name>
	<description>Harman Kardon Cordova Plugin</description>
	<license>MIT</license>
	<keywords>cordova, plugin, harman, kardon, android, ios</keywords>
	<repo>https://github.com/brainrainteam/harman-kardon-cordova.git</repo>
	<issue>https://github.com/brainrainteam/harman-kardon-cordova/issues</issue>

	<js-module src="www/CordovaBoilerPlatePlugin.js" name="CordovaBoilerPlatePlugin">
		<clobbers target="CordovaBoilerPlatePlugin" />
	</js-module>

	<!-- iOS -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="CordovaBoilerPlatePlugin">
				<param name="ios-package" value="CordovaBoilerPlatePlugin"/>
			</feature>
		</config-file>
		<header-file src="src/ios/CordovaBoilerPlatePlugin.h"/>
		<source-file src="src/ios/CordovaBoilerPlatePlugin.m"/>
	</platform>
</plugin>